common --registry=file:///%workspace%/../../build/bazel/registry
common --registry=https://bcr.bazel.build
common --incompatible_disallow_empty_glob=false
build --cxxopt=-std=c++20
build --action_env=PATH
build --host_action_env=PATH
build --strategy=CppLink=local
build --spawn_strategy=local
